.wrapper{
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    flex-direction: row;
    width: 1440px;
    height: 700px;
    margin: auto;
    margin-top: 12vh;
}

.main__info{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 5%;
}

.summary__info{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 33px;
}

.text__result{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
    color: hsl(241, 100%, 89%)
}

.circle__info{
    display: flex;
    margin-left: 30%;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40%;
    flex-direction: column;
    height: 40%;
    background: linear-gradient(to bottom, hsl(256, 72%, 46%, 1), hsl(241, 72%, 46%, 0));;
}

.big__text{
    font-size: 86px;
    color: hsl(0, 0%, 100%);
}

.small__text{
    font-size: 18px;
    color:hsl(241, 100%, 89%);
}

.text__great{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 48px;
    color: hsl(0, 0%, 100%);
}

.text__about__test{
    display: flex;
    margin-left: 25%;
    width: 54%;
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    color: hsl(241, 100%, 89%)
}

.text__summary{
    font-size: 32px;
    margin-bottom: 40px;
}

.block__parametr__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    background-color: hsl(0, 100%, 67%, 0.2);
    margin-bottom: 40px;
}

.block__parametr__info img{
    margin-left: 20px;
    margin-right: 20px;
}

.text__parametr{
    font-size: 24px;
}

.block__right__info{
    display: flex;
    flex-direction: row;
}

.block__left__info{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    font-size: 24px;
}

.bold__text{
    font-weight: bold;
}

.unbold__text{
    color:  hsl(224, 30%, 27%)
}


.red{
    background-color: hsl(0, 100%, 67%, 0.2);
    color: hsl(0, 100%, 67%);
}

.yellow{
    background-color: hsl(39, 100%, 56%, 0.2);
    color: hsl(39, 100%, 56%);
}

.green{
    background-color: hsl(166, 100%, 37%, 0.2);
    color: hsl(166, 100%, 37%);
}

.blue{
    background-color: hsl(234, 85%, 45%, 0.2);
    color: hsl(234, 85%, 45%);
}

.block__button{
    width: 90%;
    display: flex;
    justify-content: center;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    height: 80px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 90%;
    border-radius: 20px;
    padding: 12px 24px;
    border: none;
}